/*分页*/
.page-box{
  margin: 10px 0;
  text-align: center;
}
/*小水滴直播站通用分类列表*/
.category-list .item-title{
  position: relative;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: #636363;
}
.category-list .item-title b{
  font-size: 24px;
  color: #404040;
  margin: 0 10px 0 5px;
}
.category-list .item-title i{
  display: inline-block;
  width: 35px;
  height: 35px;
  /*background: url(http://p1.qhimg.com/d/inn/60ebd893/img/icon_index_all.png) no-repeat 0 0;*/
  vertical-align: -8px;
  overflow: hidden;
}
.category-list .item-title i img{
  width: 100%;
}

.category-list .item-title .more{
  position: absolute;
  top: 0;
  right: 0;
}
.category-list .item-title .more:after{
  display: inline-block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: 3px;
  border-top: 4px solid transparent;
  border-left: 6px solid #636363;
  border-bottom: 4px solid transparent;
}
.category-list .item-title .more:hover {
  color: #f84e01;
  text-decoration: underline;
}
.category-list .item-title .more:hover:after {
  border-left-color: #f84e01;
}

.category-list .item-content{
  margin-right: -23px;
}
.category-list .item-content dl {
  position: relative;
  width: 277px;
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}



.category-list .item-content .item dl:hover{
  color:#fff;
  background-color:#737386;
}

.category-list .item-content .item dl:hover dd .view i{
  background-position:0 0;
}

.category-list .item-content .item dl dd .view i{
  background-image: URL(../img/view.png);
  background-position:-14px 0;
  background-repeat:no-repeat;
}

.category-list .item-content dl dt a{
  display: block;
  position: relative;
  overflow: hidden;
}
.category-list .item-content dl dt a ._play_icon {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 21px;
    top: 6px;
    left: 6px;
    background-size: 24px 21px;
    background-image: url(../img/index/play-icon.png);
    background-position: center center;
    background-repeat: no-repeat;

}

.category-list .item-content dl dt a .overlay {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(http://p1.qhimg.com/d/inn/60ebd893/img/icon-play.png);
  background-position: center center;
  background-repeat: no-repeat;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
-khtml-opacity: 0;
       opacity: 0;
  -webkit-transition: opacity 1s,background-color 1s;
     -moz-transition: opacity 1s,background-color 1s;
      -ms-transition: opacity 1s,background-color 1s;
       -o-transition: opacity 1s,background-color 1s;
          transition: opacity 1s,background-color 1s;
}
.category-list .item-content dl dt a:hover .overlay{
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
-khtml-opacity: 0.7;
       opacity: 0.7;
  background-color: #000;
}
.category-list .item-content dl dt a img {
  -webkit-transition: transform 1s;
     -moz-transition: transform 1s;
      -ms-transition: transform 1s;
       -o-transition: transform 1s;
          transition: transform 1s;
}
.category-list .item-content dl dt a img.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.category-list .item-content dl dt a:hover img{
  -webkit-transform: scale3d(1.1,1.1,1);
     -moz-transform: scale3d(1.1,1.1,1);
      -ms-transform: scale3d(1.1,1.1,1);
       -o-transform: scale3d(1.1,1.1,1);
          transform: scale3d(1.1,1.1,1);
}
.category-list .item-content dl dt img{
  display: block;
  width: 100%;
}
.category-list .item-content dl dt{
  position: relative;
}
.category-list .item-content dl dt .camera-title 
, .category-list .item-content dl dt .channel
{
  /*background: url(http://p1.qhimg.com/d/inn/60ebd893/img/index_category_list_item_bg.png) repeat-x 0 -124px;*/
  background: url(http://p8.yx-s.com/d/inn/4be7bedc/index_category_list_item_bg.png) repeat-x 0 -124px;
}
.category-list .item-content dl dt .camera-title {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  padding:0 10px;
  font-size: 15px;
  color: #fff;
  background-position: 0 -124px;
}
.category-list .item-content dl dt .channel {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 22px;
  line-height: 22px;
  padding:5px 10px;
  font-size: 14px;
  color: #fff;
  background-position: 0 0;
}

.category-list .item-content dl dt .status i {
    width: 6px;
    height: 6px;
    background: #FBC91C;
    display: inline-block;
    margin-bottom: 1px;
    border-radius: 50%;
    margin-right: 5px;
}

.category-list .item-content dl dt .status {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    /* width: 50px; */
    /* height: 22px; */
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #5E8FF8;
    padding: 1px 5px;
    border-radius: 4px;
}


.category-list .item-content dl dt .status.offline {
  background-color: #888;
}

.category-list .item-content dl dt .status.offline i {
    display: none;
}




.category-list .item-content dl dd{
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #7f7f7f;
}
.category-list .item-content dl dd.desc{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 265px;
    float: left;
    border: 1px solid #e5e5e5;
    padding: 0 5px;
    background: #F3F3F3;
}
.category-list .item-content dl dd .viewnum{
    float: right;
}
.category-list .item-content dl dd i{
  display: inline-block;
  width: 14px;
  height: 15px;
  margin: 0 5px 0 0;
}

.category-list .item-content dl dd .zan i{
  background-image:URL(../img/icon_index.png);
  background-position: -16px -38px;
}
.category-list .item-content dl dd .view i{
  background-image:URL(../img/icon_index.png);
  background-position:-16px 3px;
  background-repeat:no-repeat;
}
/*通用分页页码样式*/
.pagination{
  display: inline-block;
  zoom:1;
}
.pagination:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}
.pagination a{
    display: block;
    border: 1px solid #4574D8;
    border-radius: 3px;
    padding: 5px 11px;
    float: left;
    margin: 3px;
    color: #3860B5;
    background-color: #F1F6FF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    position: relative;
}
.pagination a:focus:before {
    content: '';
    display: block;
    background-color: rgba(0, 53, 162, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-animation: loading-w 15s 1 cubic-bezier(0.05, 0.6, 0, 1);
}
.pagination a.prev i,
.pagination a.next i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.pagination a.prev i{ border-right: 7px solid #3860B5; }
.pagination a.prev:hover i{ border-right-color:#fff; }
.pagination a.next i{ border-left: 7px solid #3860B5;}
.pagination a.next:hover i{ border-left-color:#fff; }

.pagination a.next i { }

.pagination a.home,
.pagination a.end{
    background-color: #5E8FF8;
    color: #fff;
}

.pagination a:hover{
    background-color: #608DF8;
    border: 1px solid #3261C5;
    color: #fff;
}
.pagination a.current{
    background-color: #8FA4D0;
    border: 1px solid #758EBB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.13) inset;
    cursor: default;
    color: #fff;
}


.error-tips{
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}
.error-tips b{
  color: #ff0000;
}

/*预览*/
.category-list .item-content dl dt a.preview-btn{
  background-color: #f84e01;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  color: #fff;
  display: none;
}
.category-list .item-content dl dt a.close-preview-btn{
  background-color: #f84e01;
  position: absolute;
  bottom: -22px;
  right: 0px;
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  color: #fff;
}
.category-list .item-content .preview-box{
  display: none;
}
/*loading*/
.spinner{
  width: 150px;
  height: 31px;
  margin: 100px auto;
  font-size: 18px;
}
.spinner i{
  display: inline-block;
  width: 31px;
  height: 31px;
  background-image: url(http://p1.qhimg.com/d/inn/60ebd893/img/loading.png);
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: -8px;
  -webkit-animation: sk-rotateplane 1.2s infinite linear;
  animation: sk-rotateplane 1.2s infinite linear;
  /* 低版本浏览器不支持CSS3动画隐藏 */
  *display: none;
  _display: none;
}

.category-list ._normal_item .item-content dl{
	width: 290px;
	margin-right: 12px;
	
}
.category-list ._normal_item .item-content dl dd.desc{
	width: 278px;
}

@-webkit-keyframes loading-w {
  0% { width: 0px }
  100% { width: 100% }
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: rotate(0deg) }
  /*50% { -webkit-transform: perspective(120px) rotateY(180deg) }*/
  100% { -webkit-transform: rotate(360deg) }
}

/*@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
*/
